.button {
  display: inline-flex;
  align-items: center;
  min-height: 60px;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: inherit;
  background-color: $beige;

  &--add {
    @include reset-button;
    font-weight: inherit;
    background-color: $beige;
  }
}
