.cards {
  @include container;
  padding-top: 53px;
  padding-bottom: 256px;
}

.cards__title {
  margin: 0;
}

.cards__list {
  @include reset-list;
  margin-top: 53px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cards__button-wrapper {
  margin-top: 60px;
  text-align: center;
}
