.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
}

.card__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 24px 30px 24px;
}

@media (max-width: $width-only-tablet) {
  .card__inner {
    padding: 20px 15px 25px 15px;
  }
}

.card__title {
  margin: 0;
  font-family: $font-mulish;
  line-height: 186%;
  letter-spacing: 1.5px;
  color: $light-black;
  text-transform: uppercase;
}

.card__subtitle {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 162%;
  font-weight: 400;
  color: $light-black;
}

@media (max-width: $width-only-tablet) {
  .card__subtitle {
    margin-top: 15px;
    font-size: 14px;
  }
}

.card__information {
  margin: 20px 0 0 0;
  line-height: 171%;
  font-weight: 400;
  color: $grey;
}

@media (max-width: $width-only-tablet) {
  .card__information {
    margin-top: 15px;
    font-size: 12px;
  }
}

.card__date {
  margin: 20px 0 25px 0;
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
  color: $grey;
}

@media (max-width: $width-only-tablet) {
  .card__date {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 11px;
  }
}

.card__button {
  display: flex;
  min-height: 50px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  background-color: $light-black;
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.card__button:hover {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.card__button span {
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.card__button:hover span {
  transform: translate3d(-10px, 0, 0);
}

.card img {
  width: 100%;
}
