.card {
  background-color: $white;
}

.card__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 24px 30px 24px;
}

.card__title {
  margin: 0;
  font-family: $font-mulish;
  line-height: 186%;
  letter-spacing: 1.5px;
  color: $light-black;
  text-transform: uppercase;
}

.card__subtitle {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 162%;
  font-weight: 400;
  color: $light-black;
}

.card__information {
  margin: 20px 0 0 0;
  line-height: 171%;
  font-weight: 400;
  color: $grey;
}

.card__date {
  margin: 20px 0 25px 0;
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
  color: $grey;
}

.card__button {
  display: flex;
  min-height: 50px;
  //margin-top: 25px;
  //margin-top: auto;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  background-color: $light-black;
}

.card img {
  width: 100%;
}
