.form {}

.form__list {
  @include reset-list;
  max-width: 724px;
  margin-top: 50px;
}

@media (max-width: $width-only-mobile) {
  .form__list {
    margin-top: 20px;
  }
}

.form__item {
  position: relative;
}

.form__item + .form__item {
  margin-top: 20px;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 1px solid $dark-grey;
}

@media (max-width: $width-only-mobile) {
  .form__input,
  .form__textarea {
    padding-left: 16px;
  }
}

.form__textarea {
  min-height: 150px;
  padding-top: 23px;
  resize: none;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transform-origin: 0 0;
  color: $white;
  pointer-events: none;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

@media (max-width: $width-only-mobile) {
  .form__label {
    padding-left: 16px;
  }
}

.form__label,
.form__input {
  padding-top: 23px;
  padding-bottom: 27px;
}

.form__input:focus,
.form__input:active,
.form__textarea:focus,
.form__textarea:active {
  border-color: $white;
}

.form__input:not(:placeholder-shown),
.form__textarea:not(:placeholder-shown),
.form__input:focus,
.form__textarea:focus {
  padding-top: 33px;
  padding-bottom: 17px;
}

.form__input:focus ~ .form__label,
.form__textarea:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ label,
.form__textarea:not(:placeholder-shown) ~ label {
  opacity: 0.5;
  transform: scale(.85) translateY(-10px) translateX(6px);
}

@media (max-width: $width-only-mobile) {
  .form__input:focus ~ .form__label,
  .form__textarea:focus ~ .form__label,
  .form__input:not(:placeholder-shown) ~ label,
  .form__textarea:not(:placeholder-shown) ~ label {
    transform: scale(.85) translateY(-10px) translateX(4px);
  }
}

.form__input::placeholder,
.form__textarea::placeholder {
  opacity: 1;
  color: transparent;
}

.form__agreement {
  margin: 0 0 0 30px;
  font-weight: 400;
  color: $light-grey;
}

@media (max-width: $width-only-mobile) {
  .form__agreement {
    margin-top: 15px;
    margin-left: 0;
  }
}

.form__agreement a {
  color: inherit;
  text-decoration: underline;
}

.form__button-wrapper {
  margin-top: 20px;
  display: flex;
}

@media (max-width: $width-only-mobile) {
  .form__button-wrapper {
    flex-wrap: wrap;
  }
}
