.form {
  max-height: 95vh;
  overflow-y: auto;
}

.form__list {
  @include reset-list;
  max-width: 724px;
  margin-top: 50px;
}

.form__item {
  position: relative;
}

.form__item + .form__item {
  margin-top: 20px;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 1px solid $dark-grey;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
}

.form__label,
.form__input {
  padding-top: 23px;
  padding-bottom: 27px;
}

.form__item>.form__input:not(:placeholder-shown),
.form__input:focus {
  padding-top: 33px;
  padding-bottom: 17px;
}

.form__item>.form-input:focus~.form__label,
.form__item>.form-input:not(:placeholder-shown)~label {
  opacity: 0.5;
  //transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.form__textarea {
  min-height: 150px;
  padding-top: 23px;
  resize: none;
}

.form__input::placeholder {
  opacity: 1;
  color: inherit;
}

.form__agreement {
  margin: 0 0 0 30px;
  font-weight: 400;
  color: $light-grey;
}

.form__agreement a {
  color: inherit;
  text-decoration: underline;
}

.form__button-wrapper {
  margin-top: 20px;
  display: flex;
}
