.modal {
  display: none;

  &--open {
    display: block;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lighter-black;
}

.modal__container {
  position: relative;
  display: flex;
  max-width: 1727px;
}

.modal__container::before {
  content: "";
  width: 820px;
  flex: 0 1 auto;
}

@media (max-width: $width-only-modal-desktop) {
  .modal__container::before {
    width: 420px;
  }
}

.modal__container::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 400px;
  height: 100%;
  background-color: $dark-black;
}

@media (max-width: $width-only-tablet) {
  .modal__container {
    max-width: 700px;
    padding-left: 0;
  }

  .modal__container::before,
  .modal__container::after {
    display: none;
  }
}

.modal__image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 819px;
  height: 100%;
  background-color: $dark-black;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}

.modal__image::before {
  content: "";
  margin: auto;
  width: 819px;
  height: 880px;
  background-image: url("../img/moon.jpg");
  background-repeat: no-repeat;
}

@media (max-width: $width-only-tablet) {
  .modal__image {
    display: none;
  }
}

.modal__content {
  position: relative;
  padding: 76px 90px 138px 95px;
  background-color: $black;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  flex: 0 0 auto;
}

@media (max-width: $width-only-tablet) {
  .modal__content {
    width: auto;
    min-width: auto;
    flex: 0 1 auto;
    padding-bottom: 76px;
  }
}

@media (max-width: $width-only-mobile) {
  .modal__content {
    padding: 20px 30px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  margin: 0;
}

@media (max-width: $width-only-mobile) {
  .modal__title {
    text-align: left;
  }
}

.modal__information {
  margin: 0;
  font-weight: 400;
  color: $light-grey;
}

.modal__button {
  @include reset-button;
  align-self: flex-start;
  opacity: 0.2;
  cursor: pointer;
  min-width: 107px;
  min-height: 70px;
  border: 1px solid $white;
  transform: skew(-20deg);
  margin-right: 15px;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

@media (max-width: $width-only-tablet) {
  .modal__button {
    min-width: 50px;
    min-height: 30px;
  }
}

.modal__button svg {
  transform: skew(20deg);
}

@media (max-width: $width-only-tablet) {
  .modal__button svg {
    width: 20px;
    height: 20px;
  }
}

.modal__inner {
  max-height: 90vh;
  overflow-y: auto;
}
