@media (max-width: $width-only-tablet) {
  .nav {
    padding-top: 54px;
  }
}

@media (max-width: $width-only-mobile) {
  .nav {
    padding-top: 15px;
  }
}

.nav__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $width-only-tablet) {
  .nav__list {
    flex-direction: column;
    margin-bottom: 392px;
  }
}

@media (max-width: $width-only-mobile) {
  .nav__list {
    margin-bottom: 51px;
  }
}

.nav__item + .nav__item {
  margin-left: 42px;
}

@media (max-width: $width-only-tablet) {
  .nav__item + .nav__item {
    margin-left: 0;
    margin-top: 15px;
  }
}

.nav__item a {
  color: $white;
  text-transform: uppercase;
}

@media (max-width: $width-only-tablet) {
  .nav__item a {
    font-size: 36px;
    line-height: 54px;
    color: $black;
    text-shadow: -1px 0 $light-grey, 0 1px $light-grey, 1px 0 $light-grey, 0 -1px $light-grey;
  }
}

@media (max-width: $width-only-mobile) {
  .nav__item a {
    font-size: 20px;
    line-height: 30px;
  }
}
