.slider {
  min-height: 1034px;
  display: flex;
  align-items: flex-end;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-repeat: no-repeat;
  background-position: center;

  &--first {
    background-image: url("../img/space.jpg");
  }

  &--second {
    background-image: url("../img/car.jpg");
  }

  &--third {
    background-image: url("../img/money.jpg");
  }
}

@media (max-width: $width-only-tablet) {
  .slider {
    min-height: 414px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-size: contain;
  }
}

@media (max-width: $width-only-mobile) {
  .slider {
    min-height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
}

.slider__content {
  @include container;
  margin-bottom: 177px;
}

@media (max-width: $width-only-tablet) {
  .slider__content {
    margin-bottom: 40px;
  }
}

@media (max-width: $width-only-mobile) {
  .slider__content {
    margin-bottom: 15px;
  }
}

.slider__title {
  margin: 0;
}

.slider__information {
  margin: 40px 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: $dark-white;
}

@media (max-width: $width-only-tablet) {
  .slider__information {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

@media (max-width: $width-only-mobile) {
  .slider__information {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}
