$lighter-black: rgba(#000000, 0.9);
$light-black: #171717;
$black: #131313;
$dark-grey: #2b2b2b;
$grey: #666666;
$light-grey: #808080;
$white: #ffffff;
$dark-white: rgba($white, 0.79);
$beige: #c2ab81;
