body {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: $white;
  background-color: $black;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
